// A template. build.rs replaces @ICON@, @MANIFEST@, @VERSION@, and @VERSION_NUMBER@, taking
// the version from Cargo.toml, and compiles the result.
#include <winver.h>

1 ICON "@ICON@"
1 RT_MANIFEST "@MANIFEST@"

1 VERSIONINFO
FILEVERSION @VERSION_NUMBER@
PRODUCTVERSION @VERSION_NUMBER@
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", "Windows Toolkit\0"
      VALUE "FileVersion", "@VERSION@\0"
      VALUE "InternalName", "win-toolkit.exe\0"
      VALUE "OriginalFilename", "win-toolkit.exe\0"
      VALUE "ProductName", "Windows Toolkit\0"
      VALUE "ProductVersion", "@VERSION@\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
